body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#canvas {
  /* height: min(60vw,70vh); */
  aspect-ratio: 1/1;
}


h1, h3 {
  font-family: ITCAvantGardeStd-Bk, Arial, sans-serif;
  text-align: center;
}
p{
  font-family: ITCAvantGardeStd-Bk, Arial, sans-serif;
  text-align: justify;
}

.buttons {
  display:flex;
  justify-content: center;
  padding: 2vh;
  
}

.options {
  display: flex;
  justify-content: center;

}

button {
  appearance: button;
  background-color: #000;
  background-image: none;
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: #fff 4px 4px 0 0, #000 4px 4px 0 1px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: ITCAvantGardeStd-Bk, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 5px 10px 0;
  overflow: visible;
  padding: 12px 40px;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

button:focus {
  text-decoration: none;
}

button:hover {
  text-decoration: none;
}

button:active {
  box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
  outline: 0;
}

button:not([disabled]):active {
  box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  button {
    padding: 12px 50px;
  }
}

select {
  appearance: button;
  background-color: #000;
  background-image: none;
  border: 1px solid #000;
  border-radius: 4px;

  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: ITCAvantGardeStd-Bk, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 5px 10px 0;
  overflow: visible;
  padding: 12px;
  text-align: left;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}


/* Styling for the label */
label {
  font-family: ITCAvantGardeStd-Bk, Arial, sans-serif;
  margin-bottom: 10px;
  /* Adjust margin as needed */
  display: flex;
  /* Align checkbox and label horizontally */
  align-items: center;
  /* Align vertically */
}

input[type="checkbox"] {

  appearance: none;
  /* Remove default checkbox appearance */
  -webkit-appearance: none;
  /* Remove default checkbox appearance for webkit browsers */
  -moz-appearance: none;
  /* Remove default checkbox appearance for Firefox */
  width: 20px;
  /* Adjust width as needed */
  height: 20px;
  /* Adjust height as needed */
  border: 1px solid #000;
  /* Border color */
  border-radius: 4px;
  /* Border radius */
  background-color: #fff;
  /* Background color */
  margin-right: 5px;
  /* Adjust margin as needed */
  vertical-align: middle;
  /* Align vertically */
  cursor: pointer;
  /* Show pointer cursor on hover */
}

/* Styling for checked checkbox */
input[type="checkbox"]:checked {
  background-color: #000;
  /* Change background color when checked */
}

#presets {
  display: flex;
  justify-content: center;
}
input[type="number"] {
  width: 6vw;
  margin-right: 3px;
}